@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  font-family: 'Roboto', sans-serif;
}

/* nav bar */
#nav li {
    margin: 0px 10px;
}

#nav li :hover{
    color: cyan;
}         

nav section a img {
    width: 80px;
}

/* headerIndex */
header{
    color: white;
    width: 100%;
    display: flex;
    background-image: url(../img/banner_balenciaga.jpg);
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

    header section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 25vw;
        margin-left: 25px;
    }

        header section h1{
            text-align: center;
            margin: 15px;
        }

        header section p{
            text-align: center;
            margin: 15px;
        }


/* footer */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

    footer section{
        margin: 0px 25px;
    }

        footer section a{
            text-decoration: none;
            margin: 10px;
        }
            footer section a svg{
                color: black;
            }
        footer p {
            margin: 25px;
            color: black;
        }


/* Index */
/* .main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(240, 240, 240);
}


.artistas_index {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



      

.flex{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .flex a{
        margin: 25px;
        text-decoration: none;
    }

        .flex a img{
            width: 20vw;
            text-decoration: none;
        }




.flex_center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_center p {
    margin: 20px;
}



h2,h1{
    text-align: center;
} */


/* Form_page */

/* .form {
    background-color: white;
    margin: 20px;
    width: 20%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
}

    .form input,button {
        height: 20px;
        width: 85%;
    } */


/* Artistas_page */
/* .artistas {
    margin: 0px 35px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
        .artistas section {
            margin: 35px 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    
            .artistas section div {
                display: flex;
                flex-direction: column;
                padding: 30px;
            }

        .artistas figure {
            margin: 35px 0px;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
            .artistas figure div {
                display: flex;
                flex-direction: column;
                justify-content:start;
                padding: 30px;
            }

.iframes {
    width: 100%;
} */


/* Sneakers_page */
/* .sneakers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

    .sneakers figure {
        border: solid 1px;
        width: 30%;
        margin: 10px 20px;
    }
        .sneakers figure img {
            width: 60%;
        } */


.artistas_index {
    width: 100%;
    border-radius: 100%;
}

.link_artistas{
    width: 210px;
}

.link_artistas :hover {
    transition: 0.5s;
    transform: scale(1.07);
}

.button_carousel {
    color: rgb(180, 177, 177);
}

.button_carousel :hover{
    color: rgb(180, 177, 177);
}

.bg_button{
    background-color: black;
    color: white;
}
.bg_button:hover{
    color: white;
    background-color: rgb(180, 177, 177);
}


.button_snk{
    border-radius: 0px;
    /* margin-top: 20px; */
    width: 100%;
    padding: 2px
}
a{
    text-decoration: none;
}

.check{
    display: flex;
}
    .check p{
        margin-left: 30px;
    }

    .check svg{
        margin: 2px 0px;
    }

.banner{
    width: 100%;
}

.unete_index {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c3c7ca;
    width: 100%;
    height: 40vh;
}

.margin_sections {
    margin-top: 100px;
}

.button_carousel{
    border-color: white;
    border-style: none;
}

.bg_snk{
    background-color: #f4f4f4;
}

@media (width<= 990px){
    header {
            background-image: url(../img/banner_mobile.jpg);
            width: 100%;
            background-attachment:scroll;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            justify-content: center;
            width: 100%;
        }
            header section h1{
                font-size: 1.5em;
            }

                header section div a {
                    margin: 10px;
                }

    .unete_index {
        height: 30vh;
    }
        .unete_index h2{
            margin-top: 20px;
        }
    .p_mobile {
        font-size:0.8em;
    }
}
